@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Luckiest Guy', display;
  font-size: 6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #e31c25 !important;
}
.bg-success {
  background-color: #ff7f9f !important;
}
.bg-info {
  background-color: #55b4d4 !important;
}
.bg-warning {
  background-color: #f9f295 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e31c25 !important;
  border-color: #e31c25 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #9f141a !important;
  border-color: #9f141a !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9f141a !important;
  border-color: #9f141a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e31c25 !important;
  border-color: #e31c25 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #9f141a !important;
  border-color: #9f141a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9f141a !important;
  border-color: #9f141a !important;
}
.btn-info,
.btn-info:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff7f9f !important;
  border-color: #ff7f9f !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #ff3266 !important;
  border-color: #ff3266 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ff3266 !important;
  border-color: #ff3266 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
  color: #877e08 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #881116;
  color: #881116;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e31c25;
  border-color: #e31c25;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e31c25 !important;
  border-color: #e31c25 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #881116;
  color: #881116;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e31c25;
  border-color: #e31c25;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e31c25 !important;
  border-color: #e31c25 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #ff1952;
  color: #ff1952;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ff7f9f;
  border-color: #ff7f9f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7f9f !important;
  border-color: #ff7f9f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #f4e634;
  color: #f4e634;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #877e08;
  background-color: #f9f295;
  border-color: #f9f295;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #877e08 !important;
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e31c25 !important;
}
.text-secondary {
  color: #e31c25 !important;
}
.text-success {
  color: #ff7f9f !important;
}
.text-info {
  color: #55b4d4 !important;
}
.text-warning {
  color: #f9f295 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #881116 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #881116 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ff1952 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #277e9c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f4e634 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #55b4d4;
}
.alert-warning {
  background-color: #f9f295;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e31c25;
  border-color: #e31c25;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e31c25;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9d2d3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #e31c25;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e31c25;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e31c25;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e31c25;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e31c25;
  border-bottom-color: #e31c25;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e31c25 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e31c25 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e31c25' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s7MEjarozz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-s7MEjarozz P {
  color: #767676;
}
.cid-s7MEjarozz H1 {
  color: #e31c25;
}
.cid-s7MEjarozz .mbr-text,
.cid-s7MEjarozz .mbr-section-btn {
  color: #e31c25;
  text-align: center;
}
.cid-s7NlhNAQVk {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-s7NlhNAQVk .content-slider {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s7NlhNAQVk .modal-body .close {
  background: #1b1b1b;
}
.cid-s7NlhNAQVk .modal-body .close span {
  font-style: normal;
}
.cid-s7NlhNAQVk .carousel-inner > .active,
.cid-s7NlhNAQVk .carousel-inner > .next,
.cid-s7NlhNAQVk .carousel-inner > .prev {
  display: -webkit-flex;
}
.cid-s7NlhNAQVk .carousel-control .icon-next,
.cid-s7NlhNAQVk .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-s7NlhNAQVk .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s7NlhNAQVk .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-s7NlhNAQVk .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-s7NlhNAQVk .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-s7NlhNAQVk .boxed-slider > div {
  position: relative;
}
.cid-s7NlhNAQVk .container img {
  width: 100%;
}
.cid-s7NlhNAQVk .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-s7NlhNAQVk .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s7NlhNAQVk .mbr-table-cell {
  padding: 0;
}
.cid-s7NlhNAQVk .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-s7NlhNAQVk .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-s7NlhNAQVk .mbr-overlay {
  z-index: 1;
}
.cid-s7NlhNAQVk .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s7NlhNAQVk .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-s7NlhNAQVk .carousel-item .container {
    width: 100%;
  }
}
.cid-s7NlhNAQVk .carousel-item-next.carousel-item-left,
.cid-s7NlhNAQVk .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-s7NlhNAQVk .active.carousel-item-right,
.cid-s7NlhNAQVk .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-s7NlhNAQVk .active.carousel-item-left,
.cid-s7NlhNAQVk .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-s7NlhNAQVk .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .cid-s7NlhNAQVk .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators li.active,
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators li::after,
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-s7NlhNAQVk .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-s7NlhNAQVk .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-s7NlhNAQVk .mbr-slider > .container img {
  width: 100%;
}
.cid-s7NlhNAQVk .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-s7NlhNAQVk .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-s7NlhNAQVk .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s7NlhNAQVk .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s7NlhNAQVk .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-s7NlhNAQVk .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-s7NlhNAQVk .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-s7NlhNAQVk .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-s7NlhNAQVk .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-s7NlhNAQVk .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s7NlhNAQVk .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-s7NlhNAQVk .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-s7NlhNAQVk .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-s7NlhNAQVk .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-s7NlhNAQVk .carousel-inner {
  height: 100%;
}
.cid-s7NlhNAQVk .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-s7NlhNAQVk .image_wrapper {
  height: 400px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-s7NlhNAQVk .image_wrapper img {
  width: auto !important;
  height: 100%;
}
.cid-s7NlhNAQVk .carousel-item .container-slide {
  text-align: center;
}
.cid-s7NlhNAQVk .content-slider-wrap {
  width: 100%;
}
.cid-s7MICr8JLH {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #111111;
}
@media (max-width: 767px) {
  .cid-s7MICr8JLH .content {
    text-align: center;
  }
  .cid-s7MICr8JLH .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-s7MICr8JLH .img-logo img {
  height: 6rem;
}
.cid-s7MICr8JLH .form-group,
.cid-s7MICr8JLH .input-group-btn {
  padding: 0;
}
.cid-s7MICr8JLH .form-control {
  font-size: .75rem;
  text-align: center;
  min-width: 150px;
}
.cid-s7MICr8JLH .input-group-btn .btn {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.cid-s7MICr8JLH .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s7MICr8JLH .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s7MICr8JLH .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s7MICr8JLH .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s7MICr8JLH .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s7MICr8JLH .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-s7MICr8JLH .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s7MICr8JLH .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s7MICr8JLH .form-group {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-s7MICr8JLH .foot-logo {
    text-align: center !important;
  }
  .cid-s7MICr8JLH .foot-title {
    text-align: center !important;
  }
  .cid-s7MICr8JLH .mbr-text {
    text-align: center !important;
  }
  .cid-s7MICr8JLH .form-group {
    margin: 0;
  }
}
.cid-s7MICr8JLH .form-text {
  color: #e31c25;
}
.cid-s7MICr8JLH .foot-title {
  color: #e31c25;
}
.cid-s7MICr8JLH .foot-text {
  color: #e31c25;
}
.cid-s7MICr8JLH .copyright > p {
  color: #767676;
}
.cid-s7MICr8JLH .mbr-links-column {
  color: #e31c25;
}
.cid-s7NrqR5M6p {
  background: #0f7699;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #cc2952, #0f7699);
}
.cid-s7NrqR5M6p .image-block {
  margin: auto;
}
.cid-s7NrqR5M6p figcaption {
  position: relative;
}
.cid-s7NrqR5M6p figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s7NrqR5M6p .image-block {
    width: 100% !important;
  }
}
.cid-s7NrrMqdEw {
  background: #ffffff;
}
.cid-s7NrrMqdEw .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-s7NrrMqdEw .video-block {
    width: 100% !important;
  }
}
.cid-s7Nrw5bu2h .google-map {
  height: 25rem;
  position: relative;
}
.cid-s7Nrw5bu2h .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s7Nrw5bu2h .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s7Nrw5bu2h .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s7Nrw5bu2h .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s7NtsvwObF {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-s7NtsvwObF h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-s7NtsvwObF p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-s7NtsvwObF .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-s7NtsvwObF .mbr-section-btn a {
  margin: 0;
}
.cid-s7NtsvwObF .mbr-text {
  color: #767676;
}
.cid-s7NtsvwObF .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-s7NtsvwObF .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-s7NtsvwObF H2 {
  text-align: center;
  color: #e31c25;
}
.cid-s7NtsvwObF .card-title {
  text-align: center;
}
.cid-s7NtsvwObF .mbr-text,
.cid-s7NtsvwObF .mbr-section-btn {
  text-align: center;
}
.cid-s7NtmY8ywf {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
